/* You can add global styles to this file, and also import other style files */
body {

  margin: 0;
  padding: 0;
  background: linear-gradient(0.25turn, #09203f, #537895, #09203f);
  color: white;
  font-family: "Times New Roman", Times, serif;
}
