#HamburgerMenu {
  display: none;
}

* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  /* margin: 0;
  padding: 0; */
}

body {
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  background: linear-gradient(#0f1f30, #051301);
}

button {
  height: 25px;
  color: rgb(255, 255, 255);
  border: none;
  margin: 1%;
  border-radius: 2px;
  background: linear-gradient(rgb(19, 131, 9), rgb(17, 18, 56));
}

button:hover {
  cursor: pointer;
  color: white;
  background: linear-gradient(rgb(116, 114, 114), rgb(0, 0, 0));
}

#root {
  background-image: url('/public/img/Genji_mobil.jpg');
  background-size: cover;
  object-fit: fill;
  height: 100vh;
}

#logo {
  height: 50px;
  width: 50px;
  border-radius: 100px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 3%;
}

ul {
  margin: 0px;
  font-size: 1rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  list-style: none;
  gap: 10px;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

a:hover {
  background: -webkit-linear-gradient(rgb(12, 141, 18), rgb(255, 255, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* #HomeDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  width: 250px;
  background-color: rgba(0, 0, 0, 0.753);
} */

#loginBtn {
  border: none;
  border-radius: 50px;
  cursor: pointer;
  background: linear-gradient(rgb(0, 0, 0), rgb(11 17 60));
}

/* iconer som inte ska synas */
@media screen and (min-width: 500px) {
  #root {
    background: url('/img/Genji_walpaper.jpg');
    background-position: center;
    background-size: cover;
    object-fit: fill;
  }

  #Menu {
    display: none;
  }
  #X {
    display: none;
  }
}

/* mobil Läge */
@media screen and (max-width: 500px) {
  #root {
    background-image: url('/img/Genji_mobil.jpg');
    background-position: center;
    background-size: cover;
    object-fit: fill;
  }

  #HomeDiv {
    border-radius: 7px;
    margin: 0;
    width: 100%;
    height: 87vh;
  }

  #loginBtn {
    background: none;
  }

  nav {
    margin-bottom: 10%;
  }

  #Menu {
    display: flex;
    position: absolute;
    left: 14%;
  }

  #HamburgerMenu {
    display: flex;
    position: absolute;
    left: 14%;
    top: 5%;
  }
  #HamburgerMenu:hover {
    background-color: rgba(0, 123, 255, 0.136);
    border-radius: 20px;
    cursor: pointer;
  }

  /* popup nav */
  #navText {
    background: linear-gradient(rgb(0, 0, 0), rgb(11 17 60));
    height: 90%;
    width: 65%;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0%;
    left: 0%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    display: none;
    animation-name: open;
    animation-duration: 0.3s;
    animation-direction: normal;
    z-index: 1;
  }

  #X {
    size: 100%;
    position: absolute;
    right: 32px;
    top: 18px;
    animation-duration: 0.3s;
  }

  #Footer {
    display: block;
  }

  /* animationen */
  @keyframes open {
    from {
      width: 0%;
      font-size: 0px;
      size: 100%;
    }
    to {
      width: 65%;
    }
  }
}
