body {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Times New Roman", Times, serif;
  background: linear-gradient(#2F005F, #451c50b8);
}

#root {
  height: 100vh;
}

#logo {
  height: 50px;
  width: 50px;
  border-radius: 100px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

ul {
  margin: 0px;
  font-size: 2rem;
  font-family: "Times New Roman", Times, serif;
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 10px;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

a:hover {
  background: -webkit-linear-gradient(rgb(214, 5, 5), rgb(214, 137, 54));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom: #154ac5;
}

#HomeDiv{
  border-radius: 20px;
  margin-left: 25%;
  width: 50%;
  text-align: center;
  border: 1px solid black;
  background: linear-gradient(#03271eb1, #383838b8);
}

#loginBtn{
  height: 35px;
  padding: 9px 25px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  background: linear-gradient(#290641, #000000b8);
}