body {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Times New Roman", Times, serif;
  background: linear-gradient(#cadae0, blue);
}

#root {
  height: 100vh;
  background: linear-gradient(#154ac5, #cadae0);
}

#logo {
  height: 100px;
  width: 100px;
  border-radius: 100px;
}

nav {
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

ul {
  font-size: 2rem;
  font-family: "Times New Roman", Times, serif;
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 10px;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

a:hover {
  background: -webkit-linear-gradient(rgb(214, 5, 5), rgb(214, 137, 54));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom: #154ac5;
}
