#container_games {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
}

#choose_game {
  background-color: rgba(255, 255, 255, 0);
  font-size: 3rem;
  transform: translateX(100%);
  animation: scrolling 15s linear infinite;
}

@keyframes scrolling {
  0% {
    transform: translateX(-20%);
  }
  100% {
    transform: translateX(100%);
  }
}

.game {
  height: 12rem;
  margin: 1%;
  border: 1px solid rgb(23, 143, 39);
  cursor: pointer;
}

.gameImg {
  width: 100%;
}

@media screen and (min-width: 500px) {
  .gameImg {
    height: 100%;
  }
}
