#container_games {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
}

#choose_game {
  background-color: rgba(255, 255, 255, 0);
  font-size: 3rem;
  /* transform: translateX(100%);
  animation: scrolling 15s linear infinite; */
}

@keyframes scrolling {
  0% {
    transform: translateX(-20%);
  }
  100% {
    transform: translateX(100%);
  }
}

.game {
  height: 12rem;
  margin: 1%;
  cursor: pointer;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.966);
  border-radius: 5%;
}

.game:hover {
  background-color: rgb(31, 31, 31);
  filter: drop-shadow(5px 5px 4px #00ff0033);
  border: 1px solid green;
}

.gameImg {
  width: 100%;
}

@media screen and (min-width: 500px) {
  .gameImg {
    height: 100%;
  }
}

@media screen and (max-width: 500px) {
  .game {
    margin: 0%;
  }
}
