* {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background: linear-gradient(0.25turn, #09203f, #537895, #09203f);

  body {
    margin: 0%;
    color: white;
    font-family: "Times New Roman", Times, serif;
    // background: linear-gradient(0.25turn, #09203f, #537895, #09203f);
    // height: 100vh;
  }
}
