.themes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.622);
}

.theme{
    text-align: center;
}

.theme:hover{
    border: 1px solid green;
}

.themeImg{
    width: 200px;
    height: 200px;
}