.seasons{
  text-align: center;
  background-color: black;
}
.tiers {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  
  background-color: rgba(0, 0, 0, 0.473);
}

.tier{
  margin: 10px;
}

.tierImg {
  width: 75px;
  height: 75px;
}
