h1 {
  font-size: 3rem;
  text-align: center;
  /* background-color: rgba(0, 0, 0, 0.603); */
  font-family: "Poppins", sans-serif;
  filter: drop-shadow(5px 3px 2px #00000049);
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-left: 30%;
  margin-right: 30%;
}

#title {
  border-bottom: 1px solid white;
}

#title:hover {
  cursor: pointer;
  filter: drop-shadow(6px 4px 3px #00000049);
}
