#container_games {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
}

#choose_game {
  background-color: rgba(255, 255, 255, 0);
  font-size: 3rem;
  /* transform: translateX(100%);
  animation: scrolling 15s linear infinite; */
}

h2 {
  margin-bottom: 0px;
}

@keyframes scrolling {
  0% {
    transform: translateX(-20%);
  }
  100% {
    transform: translateX(100%);
  }
}

.game {
  position: relative;
  height: 300px;
  width: 200px;
  margin: 1%;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.966);
  border-radius: 5%;
}

.gameImg {
  font-family: 'Poppins', sans-serif;
  width: 200px; /* Initial width */
  height: auto; /* Maintain aspect ratio */
  transition: all 0.3s ease; /* Add a smooth transition effect */
  filter: drop-shadow(5px 3px 2px #00000049);
}

.gameIcons {
  opacity: 0.6;
  margin-right: 5px;
}

/* .gameImgOverlay {
  position: absolute;
} */

.gameImg:hover {
  transform: scale(1.05); /* Scale the image on hover */
  filter: drop-shadow(10px 5px 2px #00000049);
}

.gameimginfo {
  color: rgba(208, 233, 255, 0.6);
  text-transform: uppercase;
}

@media screen and (min-width: 500px) {
  .gameImg {
    height: 100%;
  }
}

@media screen and (max-width: 500px) {
  .game {
    margin: 0%;
  }
}
