.container_games {
  display: flex;
  flex-wrap: wrap;
}

#choose_game {
  background-color: rgba(255, 255, 255, 0);
  font-size: 3rem;
}

h2 {
  margin-bottom: 0px;
}

@keyframes scrolling {
  0% {
    transform: translateX(-20%);
  }
  100% {
    transform: translateX(100%);
  }
}

.game {
  width: 200px;
  margin: 1%;
  cursor: pointer;
  border-radius: 5%;
}

.gameImg {
  position: relative;
  font-family: 'Poppins', sans-serif;
  width: 200px; /* Initial width */
  height: auto; /* Maintain aspect ratio */
  transition: all 0.3s ease; /* Add a smooth transition effect */
  filter: drop-shadow(5px 3px 2px #00000049);
}

/* .WIP::after {
  content: 'WIP!';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 1.3rem;
  color: rgb(255, 238, 4);
} */
.gameIcons {
  opacity: 0.6;
  margin-right: 5px;
}

.gameImg:hover {
  transform: scale(1.05); /* Scale the image on hover */
  filter: drop-shadow(10px 5px 2px #00000049);
}

.gameimginfo {
  color: rgba(208, 233, 255, 0.6);
  text-transform: uppercase;
}

.WIP {
  text-align: center;
  width: 30px;
  color: rgba(255, 230, 0, 0.705);
  border: 1px solid rgba(255, 230, 0, 0.705);
  border-radius: 10px;
}

#blackMarket{
  background-image: radial-gradient(circle at 10% 20%, rgb(251, 144, 6) 0%, rgb(252, 251, 121) 90%);
  background-image: gradient( radial-gradient(circle at 10% 20%, rgb(255, 200, 124) 0%, rgb(252, 251, 121) 90%) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

@media screen and (min-width: 500px) {
  .gameImg {
    height: 300px;
  }
}

@media screen and (max-width: 500px) {
  nav {
    margin: 0;
  }

  .container_games {
    justify-content: center;
  }

  .game {
    margin: 5%;
  }
}
