#container_games {
  display: flex;
  flex-wrap: wrap;
  height: 80vh;
}

#choose_game {
  background-color: rgba(255, 255, 255, 0);
  font-size: 3rem;
}

h2 {
  margin-bottom: 0px;
}

@keyframes scrolling {
  0% {
    transform: translateX(-20%);
  }
  100% {
    transform: translateX(100%);
  }
}

.game {
  width: 200px;
  margin: 1%;
  cursor: pointer;
  border-radius: 5%;
}

.gameImg {
  position: relative;
  font-family: 'Poppins', sans-serif;
  width: 200px; /* Initial width */
  height: auto; /* Maintain aspect ratio */
  transition: all 0.3s ease; /* Add a smooth transition effect */
  filter: drop-shadow(5px 3px 2px #00000049);
}

.WIP::after {
  content: 'WIP!';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 1.3rem;
  color: rgb(255, 238, 4);
}
.gameIcons {
  opacity: 0.6;
  margin-right: 5px;
}

.gameImg:hover {
  transform: scale(1.05); /* Scale the image on hover */
  filter: drop-shadow(10px 5px 2px #00000049);
}

.gameimginfo {
  color: rgba(208, 233, 255, 0.6);
  text-transform: uppercase;
}

@media screen and (min-width: 500px) {
  .gameImg {
    height: 300px;
  }
}

@media screen and (max-width: 500px) {
  .game {
    margin: 0%;
  }
}
