.placementDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#HomeDiv {
  padding: 2%;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  width: 450px;
  background-color: rgba(0, 0, 0, 0.801);
  height: 50vh;
}

#HomeDiv h2 {
  font-size: 2.5rem;
  text-align: center;
  margin: 10%;
}

#HomeDiv p {
  text-align: left;
}

.HomeCards {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 5%;
}

.HomeCard {
  cursor: pointer;
  padding: 2%;
  border-radius: 10px;
  background: linear-gradient(rgb(0, 0, 0), rgb(17, 41, 20));
  width: 15%;
}

.HomeCard:hover {
  filter: drop-shadow(10px 10px 4px #45464533);
}

#userbox {
  display: flex;
  align-items: center;
  gap: 10px;
}

#userImg {
  border: 2px solid rgb(0, 0, 0);
  border-radius: 100%;
  width: 50px;
  height: 50px;
}
