.weapons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.596);
  text-align: center;
}

.weaponImg {
  width: auto;
  height: auto;
}

.weaponImg:hover {
  width: auto;
  height: auto;
  border: 1px solid rgba(7, 255, 7, 0.548);
  background-color: rgba(15, 231, 15, 0.311);
}
