.cosmeticsBox {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.801);
}

.cosmetic {
  text-align: center;
}

.cosmetic:hover {
  background-color: rgba(5, 59, 13, 0.801);
}

.cosmeticImg {
  width: 150px;
  height: 150px;
}
