#FotniteMap {
  background-color: rgba(0, 0, 0, 0.603);
}

h1 {
  font-size: 3rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.603);
}

.map {
  /* height: 30rem;
  width: 30rem; */
}

#news {
  background-color: rgba(0, 0, 0, 0.658);
  width: 100%;
}

#randomDiv {
  display: flex;
  justify-content: center;
  gap: 10px;
}

#random {
  text-align: center;
  padding: 3px;
  width: 100px;
  background-color: rgba(0, 0, 0, 0.658);
  border-radius: 10px;
}

#random:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
}

.ForniteIcons {
  border: 1px solid rgb(3, 136, 54);
  margin: 2px;
  width: auto;
  height: auto;
}
