#Footer {
  height: 9rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerSeperator {
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.438);
  margin: 1rem;
}

p {
  font-size: small;
}

@media screen and (max-width: 500px) {
  #Footer {
    background-color: none;
  }
}

@media screen and (min-width: 500px) {
  #Footer {
    background-color: #171717;
    height: 9rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
