#Footer {
  height: 9rem;
  color: white;
  /* background-color: #070420; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.line {
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.438);
}

p {
  font-size: small;
}

@media screen and (max-width: 500px) {
  #Footer {
    background-color: none;
  }
}

@media screen and (min-width: 500px) {
  #Footer {
    background-color: #171717;
    height: 9rem;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}
