/*  */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

ol, ul, menu {
    list-style: none;
}

img {
    max-inline-size: 100%;
    max-block-size: 100%;
}

table {
    border-collapse: collapse;
}

textarea {
    white-space: revert;
}

/* my script */

#HamburgerMenu {
  display: none;
}

* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  /* margin: 0;
  padding: 0; */
}

body {
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  background: linear-gradient(0.25turn, #09203f, #537895, #09203f);
}

h1 {
  font-size: 3rem;
  text-align: center;
  /* background-color: rgba(0, 0, 0, 0.603); */
  font-family: 'Poppins', sans-serif;
  filter: drop-shadow(5px 3px 2px #00000049);
}

.title {
  border-bottom: 1px solid white;
}

.title:hover {
  filter: drop-shadow(6px 4px 3px #00000049);
}

button {
  height: 25px;
  color: rgb(255, 255, 255);
  border: none;
  margin: 1%;
  border-radius: 2px;
  background: linear-gradient(rgb(19, 131, 9), rgb(23, 27, 156));
}

button:hover {
  cursor: pointer;
  color: white;
  background: linear-gradient(rgb(116, 114, 114), rgb(0, 0, 0));
}

#root {
  /* background-image: url('/public/img/Genji_mobil.jpg'); */
  background-size: cover;
  object-fit: fill;
  height: 100vh;
}

#logo {
  height: 50px;
  width: 50px;
  border-radius: 100px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-left: 30%;
  margin-right: 30%;
}

#navText {
  margin: 0px;
  font-size: 1rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  list-style: none;
  gap: 10px;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

#loginBtn {
  border: none;
  border-radius: 50px;
  cursor: pointer;
  background: linear-gradient(rgb(0, 0, 0), rgb(11 17 60));
}

/* iconer som inte ska synas */
@media screen and (min-width: 500px) {
  #root {
    /* background: url('/img/Genji_walpaper.jpg'); */
    background-position: center;
    background-size: cover;
    object-fit: fill;
  }

  #Menu {
    display: none;
  }
  #X {
    display: none;
  }
}

/* mobil Läge */
@media screen and (max-width: 500px) {
  #root {
    /* background-image: url('/img/Genji_mobil.jpg'); */
    background-position: center;
    background-size: cover;
    object-fit: fill;
  }

  #HomeDiv {
    border-radius: 7px;
    margin: 0;
    width: 100%;
    height: 87vh;
  }

  #loginBtn {
    background: none;
  }

  nav {
    margin-bottom: 10%;
  }

  #Menu {
    display: flex;
    position: absolute;
    left: 14%;
  }

  #HamburgerMenu {
    display: flex;
    position: absolute;
    left: 14%;
    top: 5%;
  }
  #HamburgerMenu:hover {
    background-color: rgba(0, 123, 255, 0.136);
    border-radius: 20px;
    cursor: pointer;
  }

  /* popup nav */
  #navText {
    background: linear-gradient(rgb(0, 0, 0), rgb(11 17 60));
    height: 90%;
    width: 65%;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0%;
    left: 0%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    display: none;
    animation-name: open;
    animation-duration: 0.3s;
    animation-direction: normal;
    z-index: 1;
  }

  #X {
    size: 100%;
    position: absolute;
    right: 32px;
    top: 18px;
    animation-duration: 0.3s;
  }

  /* animationen */
  @keyframes open {
    from {
      width: 0%;
      font-size: 0px;
      size: 100%;
    }
    to {
      width: 65%;
    }
  }
}
